<form method="post" action="{{space.permalink}}/ideas" enctype="multipart/form-data">
	<input placeholder="Title" name="idea[title]">
	<input placeholder="Title" name="idea[content]">
	<input value="{{ params.custom1 }}" name="idea[custom1]">
	<input type="submit" name="submit">
</form>
