<form method="post" action="{{space.permalink}}/ideas" enctype="multipart/form-data">
	<br/><br/>
	<input placeholder="Title" name="idea[title]">
	<input value="{{ params.custom1 }}" placeholder="Title" name="idea[content]" class="hiddenlols">
	<input value="{{ params.custom1 }}" name="idea[custom1]" id="urlInput">
	<input type="submit" name="submit">
	<br/><br/> 
</form>

<style type="text/css">
	.hiddenlols {
		display: none;
	}
</style>

<script type="text/javascript">
	var theURL = $('#urlInput').val();
	
	if(theURL.indexOf('jsfiddle.net') != -1){
		console.log('boom');
		$('#urlInput').val($('#urlInput').val()+'embedded/result/');
	}
	
</script>