<form method="post" action="{{space.permalink}}/ideas" enctype="multipart/form-data">
	<br/><br/>
	<input placeholder="Title" name="idea[title]">
	<input placeholder="Title" name="idea[content]" class="hiddenlols">
	<input value="{{ params.custom1 }}" name="idea[custom1]" id="urlInput">
	<input type="submit" name="submit">
	<br/><br/> 
</form>

<style type="text/css">
	.hiddenlols {
		display: none;
	}
</style>

<script type="text/javascript">
	var theURL = $('urlInput').val();
	
	if(theURL.slice(0,20) == 'http://jsfiddle.net/'){
		$('urlInput').val($('urlInput').val()+'embedded/result/');
	}
	
</script>